<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/crear-producto.css">
    <title>Crear Producto | One Step </title>
</head>
<body>
    <%- include('../partials/header') %> 
    <body>
        <main>
            <h1 class="title">Crear producto</h1>
            <p class="form-description">Registra un nuevo producto.</p>
            <form method="POST" action="../products/createProduct" class="form" enctype="multipart/form-data">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" placeholder="Nombre del producto" required>
                <label for="description">Descripción:</label>
                <input type="text" name="description" id="description" placeholder="Descripción del producto" required>
                <label for="brand">Marca:</label>
                <select name="brand" id="brand">
                    <% brands.forEach(brand => { %>
                        <option value="<%=brand.id%>"><%=brand.name%></option>
                    <% }) %>
                </select>
                <label for="genre">Género:</label>
                <select name="genre" id="genre">
                    <% genres.forEach(genre => { %>
                        <option value="<%=genre.id%>"><%=genre.name%></option>
                    <% }) %>
                </select>
                <label for="category">Categoría:</label>
                <select name="category" id="category">
                    <% categories.forEach(category => { %>
                        <option value="<%=category.id%>"><%=category.name%></option>
                    <% }) %>
                </select>
                <label for="price">Precio:</label>
                <input type="number" name="price" placeholder="Precio" id="price" required>
                <label for="productImage">Imagen del producto:</label>
                <input type="file" name="productImage" id="productImage" required>
                <label for="sizes">Talla(s) y disponibilidad:</label>
                <section class="sizes">
                    <p>Talla</p>
                    <p>Cant. disponible</p>
                    <% sizes.forEach(size => { %>
                        <article class="sizes-table-info">
                            <input type="checkbox" name="size_<%=size.id%>" id="size_<%=size.id%>" value="<%=size.id%>">
                            <label for="size_<%=size.id%>"><%=size.size%></label><br>  
                        </article>
                        <article class="sizes-table-info">
                            <input type="number" name="size_<%=size.id%>_quantity" id="size_<%=size.id%>_quantity">
                        </article>
                    <% }) %>
                </section>
                <section class="form-btns">
                    <button type="submit" class="form-btns-btn">Guardar</button>
                    <a href="./list" class="form-btns-btn">Volver</a>
                </section>
            </form>
        </main>

        <%- include('../partials/footer') %> 
    
    </body>
    </html>