<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/editar-producto.css">
</head>
<body>
    <%- include('../partials/header') %> 
    <body>
        <main>
            <h1 class="reg-title">Editar <%= products[id].name %> </h1>
            <form action="./<%= products[id].id%>?_method=PUT" method="POST">
                <section>
                    <label for="nombre">Nombre:</label><br>
                    <input type="text" name="name" id="nombre" value="<%= products[id].name %>" placeholder="Nombre del producto" >
                </section>

                <section>
                    <label for="descripcion">Descripción:</label><br>
                    <input type="text" name="description" placeholder="Descripción" value=" <%= products[id].description %> " id="descripcion">
                </section>

                <section>
                    <label for="descripcion">Talla:</label><br>
                    <input type="text" name="size" placeholder="Talla" value=" <%= products[id].size %> " id="size">
                </section>

                <section class="option-div">
                    <label class="obligatory-label" for="categoria">Estilo:</label><br>
                    <select name="category">
                        <option value="select" selected>Seleccione</option>
                        <option value="tenis">Tenis</option>
                        <option value="runners">Runners</option>
                        <option value="lifestyle">lifestyle</option>
                    </select>
                </section>

                <section>
                    <label for="precio">Precio:</label><br>
                    <input type="precio" name="price" placeholder="Precio" value=" <%= products[0].price %> " id="precio">
                </section>

                <section>
                    <label class="obligatory-label" for="productImage">Imagen del producto:</label>
                    <input type="file" name="productImage"></input>
                </section>
                    <nav class="form-group">
                        <button class="btn btn-success">Guardar</button>
                        <a href="/productos" class="btn btn-primary">Volver</a>
                    </nav>
                </article>
            </form>
        </main>

        <%- include("../partials/footer")%>

    </body>
    
</body>
</html>