<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/editar-producto.css">
</head>
<body>
    <%- include('../partials/header') %> 
    <body>
        <main>
            <h1 class="title">Editar producto</h1>
            <p class="form-description"><%= products[id].name %></p>
            <form action="./<%= products[id].id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" value="<%= products[id].name %>" placeholder="Nombre del producto" >
                    <label for="description">Descripción:</label>
                    <input type="text" name="description" id="description" placeholder="Descripción" value="<%= products[id].description %>" id="descripcion">
                    <label for="size">Talla:</label>
                    <input type="text" name="size" placeholder="Talla" value="<%= products[id].size %>" id="size">
                    <label for="category">Estilo:</label>
                    <select name="category" id="category" value="<%= products[id].category %>">
                        <option value="select">Seleccione</option>
                        <option value="tenis">Tenis</option>
                        <option value="runners">Runners</option>
                        <option value="lifestyle">lifestyle</option>
                    </select>
                    <label for="price">Precio:</label>
                    <input type="text" name="price" placeholder="Precio" value="<%= products[0].price %>" id="price">
                    <label for="productImage">Imagen del producto:</label>
                    <input type="file" name="productImage" id="productImage">
                    <label class="label-stock" for="stock">Stock:</label>
                    <select name="stock" id="stock">
                        <option value="select">Seleccione</option>
                        <option value="available-stock">Hay stock</option>
                        <option value="unavailable-stock">Sin stock</option>
                    </select>
                    <section class="form-btns">
                        <button type="submit" class="form-btns-btn">Guardar</button>
                        <a href="../products" class="form-btns-btn">Volver</a>
                    </section>
            </form>
        </main>

        <%- include("../partials/footer")%>

    </body>
    
</body>
</html>