<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/styles-products.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <title>Detalle del producto | One Step</title>
    <main>
        <h1> <%= product.Brand.name %> - <%= product.name%> </h1>
        <h3> <%= product.description %></h3>

        <article class="article">
            <img class="images" src="/img/<%= product.img %>" alt="<%= product.name %>">

            <summary>
                <label for="category">Categoría:</label>
                <p id="category"> <%= product.Category.name %> </p  ><br>
                <label for="size">Talla:</label>
                <select name="size">
                    <% stock.forEach(stock => { %>
                        <option value="<%=stock.Size.size%>"><%=stock.Size.size%> - <%=stock.available_quantity%> disponibles</option>
                      <% }) %>
                </select><br>
                <p><strong><%= product.price %></strong> + envío</p><br>
                <div class="button-div">
                    <button class="myButton">COMPRAR AHORA</button>
                </div>
                <form action="/products/editProduct/<%= product.id %>" method="GET" >
                    <button type="submit" class="action-button">EDITAR</button>
                </form>
                <form action="/products/delete/<%= product.id %>" method="POST" >
                    <button type="submit" class="action-button delete">ELIMINAR</button>
                </form>
                    
            </summary>
        </article>
        
    </main>

    <%- include("../partials/footer.ejs") %>
</body>
</html>