<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/edit-user.css">
</head>
<body>
    <%- include('../partials/header') %> 
    <title>Editar usuario | One Step</title>
    <body>
        <main>
            <h1 class="title">Editar usuario</h1>
            <form action="./<%= users[id].id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" value="<%= users[id].name %>" placeholder="Nombre del usuario" >
                    <label for="lastName">Apellido:</label>
                    <input type="text" name="lastName" id="lastName" placeholder="Apellido" value="<%= users[id].lastName %>">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="email" value="<%= users[id].email %>">
                    <label for="avatarImage">Avatar del usuario:</label>
                    <input type="file" name="avatarImage" id="avatarImage">
                </section>
                    <section class="form-btns">
                        <button type="submit" class="form-btns-btn">Guardar</button>
                        <a href="../userList" class="form-btns-btn">Volver</a>
                    </section>
            </form>
        </main>

        <%- include("../partials/footer")%>

    </body>
    
</body>
</html>